{{> home/header }}
<section id="main-clerks" class="container mt-4 mb-1 pb-4 col-lg-x bg-light home-border position-relative">
	<img src="/assets/home/img/arabesco.png" class="home-top-left-arabesque" alt="Arabesco" title="Arabesco">
	<img src="/assets/home/img/arabesco.png" class="home-top-right-arabesque" alt="Arabesco" title="Arabesco">
	<div class="row">
		<div class="col-lg-12 mt-3 py-3 px-3">
			<h1 class="text-center home-consultants"> Atendente não encontrado. </h1>
			<div class="home-alter-sapce-between-last-card-with-button mb-5">	
			
			</div>
			<a href="/clerks">
				<button type="button" class="home-plus"> VER TODOS </button>
			</a>
		</div>
	</div>
	<img src="/assets/home/img/arabesco.png" class="home-bottom-left-arabesque" alt="Arabesco" title="Arabesco">
	<img src="/assets/home/img/arabesco.png" class="home-bottom-right-left-arabesque" alt="Arabesco" title="Arabesco">
</section>
{{> home/footer }}