<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcom to Templo Sagrado Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>

        <script>
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
            
            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }
            function statusChangeCallback(response) {
                console.log(response);
                if (response.status === 'connected'){
                    FB.api('/me', {fields: 'name, email, first_name, last_name'}, function(response) {
                        console.log(response);
                    });
                }
                else if (response.status === 'not_authorized') {
                    
                }
                
            }

          </script>




        <div class="limiter">
            <div class="container-login100" style="background-image: url('/assets/admin/img/fundo_site_02.jpg') !important;">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" method="POST">
                        <span class="login100-form-title p-b-26">
                            Login
                        </span>
                        <span class="login100-form-title p-b-48">
                            <img class="img-fluid" src="/assets/admin/logo.png"/>
                        </span> 

                        <div class="wrap-input100 validate-input" data-validate="Informe o e-mail">
                            <input class="input100" type="text" name="user">
                            <span class="focus-input100" data-placeholder="Seu e-mail"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Coloque a sua senha">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100" data-placeholder="Sua senha"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-widta-width=""></div>
                            </div>
                        </div>

                        <div class="text-center p-t-115">
                            <span class="txt1">
                                Powered by EasyWebUsa
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/vendor/bootstrap/js/popper.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
        <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="/assets/js/main.js"></script>
        <script type="text/javascript">
        
        </script>
    </body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v7.0&appId=119183890153172&autoLogAppEvents=1"></script>
</html>