<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<title> Templo Sagrado </title>
	<meta name="description" content="Consulta de Tarot, Tarot, Tarot Online, Taro do Amor, Búzios, Tarot Online, Taro do Amor, Búzios. Veja o que as cartas de tarot falam sobre sua vida, amor, sorte Cartas de Tarot Online.">
	<meta name="keywords" content="Consulta de Tarot, Tarot, Tarot Online, Taro do Amor, Búzios, Búzios, Tarô, Chat, Consulta 24 horas, Taro, Cartas de Taro, Vidência, Consulta por minutos online">
	<meta name="author" content="Easy Web USA">
	<meta name="copyright" content="Easy Web USA">
	<meta name="robots" content="index,follow">
	{{!-- Facebook --}}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Confira o que as cartas de tarot falam sobre sua vida..." />
	<meta property="og:description" content="Você se interessa por Tarot? Confira aqui tudo o que as cartas dizem sobre o seu futuro." />
	<meta property="og:url" content="https://templo-sagrado.com/" />
	<meta property="og:site_name" content="Templo Sagrado" />
	<meta property="og:image" content="https://templo-sagrado.com/assets/home/img/logo-topo.png" />
	{{!-- Twitter --}}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="https://templo-sagrado.com/">
	<meta name="twitter:title" content="Revele o seu futuro a partir das cartas de Tarot.">
	<meta name="twitter:description" content="Você já pensou em saber como será o seu futuro? Descubra agora o que as cartas de Tarot dizem.">
	<meta name="twitter:image" content="https://templo-sagrado.com/assets/home/img/logo-topo.png">
	{{!-- Others --}}
	<link rel="icon" href="/assets/admin/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script rel="preconnect" src="https://kit.fontawesome.com/80f8c2cb09.js"></script>
	<link rel="stylesheet" href="/assets/home/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/home/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<!-- Start of templo-sagrado Zendesk Widget script -->
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=d00bb554-b4ec-40c5-bdb7-a2f6fa1be13e"> </script>
	{{!-- COMMENTS FONT --}}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<!-- End of templo-sagrado Zendesk Widget script -->
	<style type="text/css">
		main {
			background-color: white !important;
			min-height: 100% !important;
		}

		input {
			border-radius: 0em !important;
		}

		form label {
			font-weight: bold !important;
		}

		.home-header {
			display: grid !important;
			grid-template-columns: 1fr 1fr !important;
			grid-gap: 1% !important;
		}

		.home-alter-space-between-top {
			margin-top: 4% !important;
		}

		.home-items-from-header {
			min-width: 100% !important;
			height: 100% !important;
		}

		.home-header .home-column-content {
			width: 100%;
			height: 100%;
		}

		.home-header .home-column-content button {
			width: 100%;
		}

		.home-card-atendent {
			border: 2px solid rgba(128, 42, 144, 1);
			background-image: url(/assets/home/img/image.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		.home-alter-leght-name a {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			font-weight: bold;
			color: rgba(128, 42, 144, 1);
			text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
		}

		.home-icon-atendent {
			margin: 0px !important;
			padding: 0px !important;
		}

		p.home-description {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		@media (max-width: 1200px) {
			.home-consults {
				clear: both;
			}

			.home-plus {
				margin-top: 10%;
			}
		}

		@media (max-width: 1024px) {
			.container {
				min-width: 100% !important;
			}

			.home-items {
				margin-right: 1% !important;
			}

			.home-row-content {
				width: 140% !important;
			}

			.home-scroll-x {
				margin-bottom: 2%;
				overflow-x: scroll !important;
				overflow-y: hidden !important;
				height: 50% !important;
				white-space: nowrap !important;
			}

			*::-webkit-scrollbar {
				width: 6px !important;
				height: 6px !important;
				width: 6px !important;
				height: 6px !important;
			}

			*::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, 0.5);
			}

			*::-webkit-scrollbar-track {
				background: rgba(255, 255, 255, 0.15);
			}

			.home-consults {
				clear: both;
			}

			.home-plus {
				margin-top: 10%;
			}

			@media (max-width: 768px) {
				.home-row-content {
					width: 160%;
				}

				.home-header {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-gap: 1%;
				}

				.home-alter-space-between-top {
					margin-top: 4% !important;
				}

				.home-items-from-header {
					width: 100%;
					height: 100%;
				}

				.home-header .home-column-content {
					width: 100%;
					float: left;
					height: 100%;
				}

				.home-header .home-column-content button {
					width: 100%;
				}

				p.home-description {
					-webkit-line-clamp: 1;
				}
			}

			@media (max-width: 425px) {
				.banner {
					min-height: 200px !important;
					min-width: 100% !important;
				}

				.home-header {
					min-height: 300px !important;
					display: grid !important;
					grid-template-columns: 1fr !important;
				}

				.home-header .col {
					clear: both;
					margin-bottom: 30% !important;
				}

				/* Stories */
				.home-items {
					max-width: 10% !important;
				}

				.home-row-content {
					min-width: 400% !important;
				}

				.home-scroll-x {
					overflow-x: scroll;
					overflow-y: hidden;
					height: 50%;
					white-space: nowrap;
				}

				/* Consultants */
				i.home-icon-atendent {
					text-align: center;
				}

				.home-spcae-image-atendent {
					margin-bottom: 2%;
				}

				.home-spcae-image-atendent img {
					margin-left: 17.5% !important;
					max-width: 65% !important;
					max-height: 160% !important;
				}

				.home-consults {
					width: 100%;
					text-align: center !important;
				}

				.home-description {
					margin-top: 30% !important;
				}

				.home-alter-sapce-between-last-card-with-button button {
					min-width: 90% !important;
					margin-left: 5% !important;
				}

				p.home-description {
					-webkit-line-clamp: 2 !important;
				}
			}

			@media (max-width: 320px) {
				.home-consultants {
					font-size: 35px;
				}

				p.home-description {
					-webkit-line-clamp: 2;
				}
			}
		}

		.btn .alert {
			border-radius: 0em !important;
		}
	</style>
	<script rel="preconnect" crossorigin="anonymous"
		src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v7.0&appId=2571721639760663&autoLogAppEvents=1"></script>
	<script type="text/javascript">

		function checkLoginState() {
			FB.getLoginStatus(function (response) {
				statusChangeCallback(response);
			});
		}

		function statusChangeCallback(response) {
			console.log(response);
			if (response.status === 'connected') {
				FB.api('/me', { fields: 'name, email' }, function (response) {
					console.log(response)
					var facebook_data = new FormData();
					facebook_data.append('email', response.email);
					facebook_data.append('name', response.name);
					facebook_data.append('id', response.id);
					facebook_data.append('birthdate', response.birthday ?? "2000-01-01");
					facebook_data.append('gender', response.gender ?? "Prefere não informar");

					$.ajax({
						url: '/facebook-auth',
						type: 'POST',
						data: facebook_data,
						contentType: false,
						processData: false,
						success: function (data) {
							window.location.href = "/my-acc";
						},
					});

				});
			}
		}
	</script>
</head>

<body style="min-height: 100%;">
	<div class="container home-alter-media-in-mobble">
		<header>
			<div class="row home-header" style="margin-left: 0%;">
				<div class="col-lg-4 home-items-from-header">
					<div class="home-column-content" style="height: 100%;">
						<a href="/">
							<img src="/assets/home/img/logo-topo.png" class="home-logo img-fluid" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-lg-8 my-auto home-items-from-header">
					<div class="home-column-content home-alter-space-between-top">
						{{#unless self_data.0.0.user_name}}
						<a href="/register">
							<button type="button" class="ml-auto home-buy-minuts">
								REGISTRE-SE
							</button>
						</a>
						<a href="/login">
							<button class="ml-auto mt-2 home-buy-minuts"> LOGIN </button>
						</a>
						{{/unless}}

						{{#if self_data.0.0.user_name }}
						<a href="/buy-minutes">
							<button type="button" class="ml-auto home-buy-minuts">
								COMPRAR MINUTOS
							</button>
						</a>
						<a href="/my-acc">
							<button class="mt-2 home-buy-minuts"> MINHA CONTA </button>
						</a>
						{{/if}}
					</div>
				</div>
			</div>
			<div>
				<nav style="background-color: rgba(128, 42, 144, 1) !important;"
					class="navbar navbar-expand-lg navbar-light bg-light home-alter-face-icon">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse home-aux-menu" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Home </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/buy-minutes">Comprar Minutos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/clerks">Atendentes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/faq">F.A.Q</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/register">Cadastre-se</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/sobre">Quem somos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/blog">Blog</a>
							</li>
						</ul>
					</div>
					<div class="justify-content-end float-right">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a href="#" class="float-right nav-link">
									{{#unless self_data.0.0.user_name}}
									<div scope="public_profile,email" onlogin="checkLoginState();"
										class="fb-login-button" data-size="large" data-button-type="continue_with"
										data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"
										data-widta-width="">
									</div>
									{{/unless}}
									{{#if self_data.0.0.user_name }}
									<a href="/logout">
										<button class="btn bg-light"><i class="fas fa-sign-out-alt"></i>
											Log-out</button>
									</a>
									{{/if}}
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>