{{> home/header }}

<main id="new-user" class="container mt-4 position-relative home-border">
    <img src="/assets/home/img/arabesco.png" class="home-top-left-arabesque" alt="Arabesco" title="Arabesco">
    <img src="/assets/home/img/arabesco.png" class="home-top-right-arabesque" alt="Arabesco" title="Arabesco">
    <div class="row">
        <div class="col-lg-12 py-5 px-5">
            <h1 class="text-center"> Termos de uso e privacidade </h1>
            <hr>
            <p id="pageContent"> {{{ self_data.0.0 }}} </p>
        </div>
    </div>
    <img src="/assets/home/img/arabesco.png" class="home-bottom-left-arabesque" alt="Arabesco" title="Arabesco">
    <img src="/assets/home/img/arabesco.png" class="home-bottom-right-left-arabesque" alt="Arabesco" title="Arabesco">
</main>

{{> home/footer }}