<p style="text-align: justify;">POLITICA DE PRIVACIDADE:<br />Pol&iacute;tica de Privacidade<br />No Templo Sagrado, respeitamos a sua privacidade e agradecemos a sua confian&ccedil;a.</p>
<p style="text-align: justify;">Nesta pol&iacute;tica de privacidade explicamos quem somos, qual a finalidade dos dados que recolhemos, como os tratamos, com quem partilhamos e durante quanto tempo os mantemos, assim como a forma de entrar em contacto connosco e exercer os seus direitos. Os seus dados ser&atilde;o tratados pelo Templo Sagrado.<br />Este portal &eacute; respons&aacute;vel pelo tratamento de dados pessoais na ace&ccedil;&atilde;o do regulamento geral sobre a Prote&ccedil;&atilde;o de Dados.</p>
<p style="text-align: justify;">Para quest&otilde;es relacionadas com o tratamento dos seus dados deve contactar o suporte online ou o email templosagrado.site@gmail.com</p>
<p style="text-align: justify;">Qual a utiliza&ccedil;&atilde;o dos seus DADOS?</p>
<p style="text-align: justify;">GEST&Atilde;O DE CLIENTES<br />N&oacute;s necessitamos dos dados recolhidos para confirmar os seus pagamentos e podermos prestar o servi&ccedil;o que adjudica.<br />Os dados pessoais recolhidos s&atilde;o para podermos prestar o servi&ccedil;o de aconselhamento esot&eacute;rico, e efetuar os seus pagamentos. Os seus dados s&atilde;o mantidos at&eacute; desativar a sua conta, pois enquanto a tiver, os dados ser&atilde;o necess&aacute;rios para o bom funcionamento da plataforma.</p>
<p style="text-align: justify;">DEFINI&Ccedil;&Atilde;O DE PERFIS<br />O Templo Sagrado, define perfis de Clientes, com base na sua informa&ccedil;&atilde;o pessoal e nas suas compras. Regista os valores pagos, data e a hora. Esta informa&ccedil;&atilde;o serve para lhe apresentarmos servi&ccedil;os mais adequados ao seu perfil e para melhorar a oferta.</p>
<p style="text-align: justify;">Quais s&atilde;o os meus DIREITOS?<br />A QUALQUER MOMENTO PODE SOLICTAR:<br />- O acesso &agrave; informa&ccedil;&atilde;o que temos sobre si;<br />- A retifica&ccedil;&atilde;o da informa&ccedil;&atilde;o caso esteja incorreta ou incompleta;<br />- Apagar ou limitar o tratamento dos seus dados pessoais;<br />- Se o tratamento depender do seu consentimento ou acordo e esse for efetuado por meios automatizados, tem direito ao envio dos dados pessoais anteriormente fornecidos, de forma estruturada, comummente utilizada e num formato informaticamente leg&iacute;vel.</p>
<p style="text-align: justify;">Os seus pedidos ser&atilde;o tratados com especial cuidado para que possamos assegurar a efic&aacute;cia dos seus direitos. Poder&aacute; ser-lhe pedido que fa&ccedil;a prova da sua identidade de modo a assegurar que a partilha dos dados pessoais &eacute; apenas feita com o seu titular.</p>
<p style="text-align: justify;">Deve ter presente que em certos casos (por exemplo, devido a requisitos legais) o seu pedido poder&aacute; n&atilde;o ser imediatamente satisfeito.<br />De qualquer modo, ser&aacute; informado das medidas tomadas nesse sentido, no prazo m&aacute;ximo de um m&ecirc;s a partir do momento em que o pedido for efetuado.<br />Tem ainda o direito de apresentar uma reclama&ccedil;&atilde;o &agrave; Comiss&atilde;o Nacional de Prote&ccedil;&atilde;o de Dados.</p>
<p style="text-align: justify;">DIREITO DE ACESSO<br />O titular dos dados pessoais tem o direito a obter do Templo Sagrado a confirma&ccedil;&atilde;o de que os dados que lhe digam respeito s&atilde;o ou n&atilde;o objeto de tratamento e, se for o caso, de aceder aos seus dados pessoais e aceder &agrave;s informa&ccedil;&otilde;es previstas na lei.<br />Caso pretenda mais do que uma c&oacute;pia dos seus dados pessoais em fase de tratamento, o servi&ccedil;o<br />pode estar sujeito um pagamento de uma taxa pelos custos administrativos.</p>
<p style="text-align: justify;">DIREITO DE RETIFICA&Ccedil;&Atilde;O<br />O titular dos dados pessoais tem o direito de obter do Templo Sagrado, sem demora injustificada, a retifica&ccedil;&atilde;o dos dados inexatos ou incompletos que lhe digam respeito.</p>
<p style="text-align: justify;">DIREITO &Agrave; LIMITA&Ccedil;&Atilde;O DO TRATAMENTO<br />O titular dos dados tem o direito de obter do Templo Sagrado a limita&ccedil;&atilde;o do tratamento, se se aplicar, designadamente, uma das seguintes situa&ccedil;&otilde;es:<br />a) Contestar a exatid&atilde;o dos dados pessoais, durante um per&iacute;odo que permita ao Templo Sagrado<br />verificar a sua exatid&atilde;o;<br />b) O tratamento de dados for l&iacute;cito e o titular dos dados se opuser a que se apaguem os seus dados pessoais e solicitar, em contrapartida, a limita&ccedil;&atilde;o da sua utiliza&ccedil;&atilde;o;<br />c) O Templo Sagrado j&aacute; n&atilde;o precisar dos dados pessoais para fins de tratamento, mas esses dados s&atilde;o requeridos pelo titular para efeitos de declara&ccedil;&atilde;o, exerc&iacute;cio ou defesa de um direito num processo judicial;<br />d) Se tiver oposto ao tratamento, at&eacute; se verificar que os motivos leg&iacute;timos do respons&aacute;vel pelo<br />tratamento prevalecem sobre os do titular dos dados.</p>







<p>Contato<br />
<br />
If there are any questions regarding this privacy policy, you may contact us using the information below.</p>

<p>https://templo-sagrado.com</p>

<p>Rua S Luis n16 8000-176 Faro - Portugal</p>

<p>info@templo-sagrado.com</p>

<p>+351 915 721 642</p>