<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ãrea administrativa do templo sagrado.">
  <meta name="author" content="Easy Web Usa">
  <title>Templo Sagrado - Atendimento</title>
  <link rel="icon" href="/assets/admin/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="/assets/admin/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/admin/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/assets/admin/css/argon.css?v=1.2.0" type="text/css">
  <style type="text/css">
    .navbar-vertical .navbar-brand-img,
    .navbar-vertical .navbar-brand>img {
      max-width: 100%;
      max-height: 3rem;
    }

    .modal-xl {
      max-width: 1540px !important;
    }

    .modal-lg {
      max-width: 1200px !important;
    }

    .btn-primary {
      background-color: #007bff !important;
    }

    .btn-primary:hover {
      background-color: #007bff !important;
    }


    .btn-light:hover {
      color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }

    .btn-light {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
    }

    a:hover {
      text-decoration: none;
      color: #007bff;
    }

    a {
      text-decoration: none;
      color: #007bff;
      background-color: transparent;
    }

    .disabled {
      display: none !important;
    }

    *::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
      width: 6px !important;
      height: 6px !important;
    }

    *::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
    }

    *::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.15);
    }

    .bg-dark {
      background-image: url('/assets/admin/img/fundo_site_02.jpg') !important;
    }

    .badge {
      font-size: 0.84em !important;
    }

    .badge-dark {
      color: white;
    }
  </style>
</head>

<body>
   <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <div class="bg-dark pt-3">
