<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#EEEEEE" align="center">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="700px" align="center"
                    style=3D"background-image:url(https://templo-sagrado.com/assets/home/img/fundo.png);width:100%;height:100%;">
                    <tr>
                        <th></th>
                        <th colspan="3" style=3D"height:40px;">
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" style=3D"background-color:#fff;text-align:center;margin:0px;padding:0px;">
                            <img src=3D"https://templo-sagrado.com/assets/home/img/logo-topo.png"
                                alt=3D"templo-sagrado">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style=3D"width:80px;">

                        </td>
                        <td colspan="3" style=3D"background-color:#fff;text-align:center;padding-bottom:50px;">
                            <h3 style=3D"padding-top:50px;text-align:center;text-transform:uppercase;">
                                O Atendente {{mail_data.1}} espera você
                            </h3>
                            <p style=3D"font-size: 20px;
                                margin-left:40px;margin-right:40px;margin-bottom:40px;text-align:cemter;">
                                O Atende procurado está online! Corra para não perder a chance de ser atendido por ele!
                            </p>
                            <!--<a href=3D"https://templo-sagrado.com/clerk-profile/{{mail_data.2}}" target="_blank">-->
                            <a href=3D"https://templo-sagrado.com/tarologo/{{mail_data.2}}" target="_blank"></a>
                                <button
                                    style=3D"width:250px;padding-top:10px;padding-bottom:10px;color:#ffffff;background-color:rgba(128,42,144,1);border:none;text-align:center;">
                                    Ir para perfil do atendente
                                </button>
                            </a>

                            <br>
                            <a href=3D"https://templo-sagrado.com/" style=3D"cursor:pointer;" target="_blank">
                                <button
                                    style=3D"width:250px;padding-top:10px;padding-bottom:10px;margin-top:15px;color:#ffffff;background-color:rgba(128,42,144,1);border:none;">
                                    Ir para o Templo Sagrado
                                </button>
                            </a>
                        </td>
                        <td style=3D"width:80px;">

                        </td>
                    </tr>
                    <tr>
                        <td style=3D"height:40px;">

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>